[2013-12-06 16:13] gust1n opened #3 "[request] encoding interface support"
Would be great with JSON marshalling support!

[2013-12-07 10:00] satori opened #4 "Fix data races with UUID v1/v2 storage access"

[2013-12-08 22:43] #3 closed, assigned to satori

[2013-12-08 23:46] #4 closed, assigned to satori

[2015-01-22 21:28] cyx opened #9 "error value when doing rand.Read(...)"
First of all thanks for a great library.

This is more of a question rather than a real issue: what happens if rand.Read() fails? I realize in practice it probably doesn't fail much (and I've been running a script locally to try and catch a random failure for crypt.Rand() but haven't had any luck) -- but in that rare case what should be the behavior of the library?

Maybe a retry works? If so I'll

[2015-01-25 11:16] satori commented on #9
Currently if `rand.Read` fails, `NewV4` will return partially malformed UUID. I believe it wouldn't be random at all, but still will have version and variants bits set properly.

Retry wouldn't help always, for example, try to `chmod -r /dev/urandom` locally.
There are sometimes errors you can't handle, so in this case it would be correct to just return error from `NewV4`.

It leads to another pro

[2015-02-05 05:07] cbandy commented on #9
We read also in `init()`. I'm not sure of the correct way to handle errors here.

[2015-02-05 05:15] cbandy commented on #9
There are a few [open issues related to this topic](https://github.com/golang/go/issues?q=is%3Aissue+is%3Aopen+crypto%2Frand+in%3Atitle), notably \#7940 and \#9205.

[2015-05-19 16:09] cyx commented on #9
Possibly one solution is to just issue a panic here, since this errors from /dev/random is more of an outlier that it probably warrants a panic.

They do the same fwiw: https://github.com/hashicorp/raft/blob/master/util.go#L43

[2015-05-22 23:13] satori commented on #9
@cyx I agree with your point and will be happy to merge such PR
There is still a `rand.Read` inside of `init` as mentioned by @cbandy, is it safe to `panic` there as well?

[2015-05-22 23:51] cyx commented on #9
I think it's safe to panic there as well, init context means typically the
web app's startup process. I doubt you'd want to start up your app on a
server with a failing /dev/random.

Thoughts?

On Fri, May 22, 2015 at 4:13 PM, Maxim Bublis <notifications@github.com>
wrote:

[2015-06-06 15:40] #9 closed

[2015-10-05 20:13] EricLagergren opened #15 "Implement json.Marshaler/Unmarshaler"
I'd be useful and easy to implement the json.Marshaler/Unmarshaler interfaces just like the binary.BinaryMarshaler/BinaryUnmarshaler interfaces are.

I'll submit a PR if this sounds reasonable.

[2015-10-06 11:03] satori commented on #15
As far as I know `encoding.json` package checks for `encoding.TextMarshaler` and `encoding.TextUnmarshaler` interfaces which are implemented by `go.uuid`.
See https://golang.org/pkg/encoding/

[2015-10-23 17:25] EricLagergren commented on #15
Yeah it does, my bad.

[2015-10-23 17:25] #15 closed

[2016-01-13 05:59] satori opened #18 "API should return entropy errors"
There is an issue with current library API, which doesn't allow library users to gracefully handle entropy errors. This problem was on my mind for some time, but looks like other people have concerns about it as well:
- cloudfoundry/cf-smoke-tests#13

By the time `safeRandom()` has been introduced in #12, v1/v2 storage initialisation had been done inside `init` function, so it looked quite reasona

[2016-02-10 21:09] mantzas opened #19 "sql.Scan does not work for mssql driver"
Hi,

i am having a problem when scanning from MS SQL Server a uuid.
The uuid from the app and the value in the db table is the same, but when querying and scan the result i get a different uuid. The same app does work in PostgreSQL just by switching out the driver.
Any thoughts?

[2016-02-10 23:23] satori commented on #19
What mssql driver do you use?

[2016-02-11 18:06] mantzas commented on #19
- https://github.com/denisenkom/go-mssqldb

- checkout Read function in https://github.com/mantzas/incata/blob/master/sql_reader.go

- PostgreSQL has the uuid type and MS Sql Server has the UNIQUEIDENTIFIER type

- Expected 7bcdad57-4ff7-45d7-9c1f-16b452ce230e but was 57adcd7b-f74f-d745-9c1f-16b452ce230e

[2016-02-17 01:30] satori commented on #19
Though Microsoft GUID and UUID are both 128-bits value, the problem is that [GUID is not UUID][1]. While [RFC 4122][2] defines UUID as 16 bytes in big-endian format (also known as network byte order), GUID is defined as:
[code]
That literally means that first 64 bits of GUID are in native platform format (I assume you are using x86, which means little-endian) and last 64 bits are in big-endian for

[2016-02-17 18:04] mantzas commented on #19
You are right. I did the cast in the select statement and all is well. Funny thing. When inserting it works automatically. The SQL Profiler revealed that the insert statement had the UUID converted into `N'30bc04c2-d35b-4373-8d4e-9dbe653ff714'`! So the above cast worked! Thanks very much!

[2016-02-17 18:04] #19 closed

[2016-02-17 21:26] satori commented on #19
That works, because UUID is [marshalled into string][1] as a part of `driver.Valuer` interface implementation. AFAIK `lib/pq` currently doesn't support Postgres' binary protocol and uses ASCII representation for query results. That's why UUID [could be scanned either from string or byte slice][2].

[1]: https://github.com/satori/go.uuid/blob/master/uuid.go#L278-L281
[2]: https://github.com/satori/

[2016-02-18 07:20] mantzas commented on #19
Got it. Thanks again.

[2016-02-25 15:41] andreicalin opened #20 "Panic in UnmarshalText() when input has a certain form."
`UnmarshalText()` panics when input is exactly 32 bytes long and of the form

`xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxx`

Example program:
[code]

Output:

[code]

I've investigated the cause of the panic.

In [`UnmarshalText()`](https://github.com/andreicalin/go.uuid/blob/e673fdd4dea8a7334adbbe7f57b7e4b00bdc5502/uuid.go#L228), when `len(text) > 32 && len(text) < 36`, `cap(text) == 48`. Therefore, in the

[2016-02-29 18:01] dim commented on #20
:+1:

[2016-03-24 11:22] #20 closed

[2016-03-26 04:57] onlyjob opened #22 "please tag formal releases"
Please consider assigning version numbers and tagging releases. Tags/releases
are quite useful for downstream package maintainers (in [Debian](http://debian.org) and other distributions) to export source tarballs, automatically track new releases and to declare dependencies between packages. Read more in the [Debian Upstream Guide](https://wiki.debian.org/UpstreamGuide#Releases_and_Versions).

Tha

[2016-04-03 18:05] petercolberg opened #24 "Please use semantic versioning"
Please use semantic versioning:

- http://semver.org/
- https://en.wikipedia.org/wiki/Software_versioning
- https://wiki.debian.org/UpstreamGuide#Releases_and_Versions

[2016-04-04 03:04] petercolberg commented on #24
Debian packages each Go package repository as a separate Debian source package. In this case, your package has been [included in Debian](https://packages.debian.org/sid/golang-github-satori-go.uuid-dev) as a dependency of [acmetool](https://github.com/hlandau/acme). The version of a Debian package includes an upstream part (e.g. "1.0.0") and a Debian part (e.g. "-1"). If an upstream author does no

[2016-04-05 23:51] satori commented on #22
Done.

[2016-04-05 23:51] #22 closed

[2016-04-05 23:53] satori commented on #24
Done.

[2016-04-05 23:53] #24 closed

[2016-04-06 00:32] onlyjob commented on #22
Thank you! :)

[2016-04-06 04:55] fmpwizard opened #26 "Help reading UUID generated from java (Mongo driver)"
Hi,

My java (Scala actually) app stores UUID values in mongodb.
If you look using the mongo client, the data looks like:

`"_id" : BinData(3,"q0Q+Fc31LFsf1mLP6zWjgQ==")`

if using go I call

`uuid.FromBytes()` and I pass the []byte I got from mongodb, I get
`ab443e15-cdf5-2c5b-1fd6-62cfeb35a381`
but I wa supposed to get
`5b2cf5cd-153e-44ab-81a3-35ebcf62d61f`

What I really need is to pass 5b2cf5c

[2016-04-06 09:08] fmpwizard commented on #26
turns out the java driver changes the order of the bytes, it goes from the 7th to 0 and then from the 15th to the 8th position, like:

[code]

[2016-04-06 09:08] #26 closed

[2016-06-13 11:33] Iyer-VivekAnand opened #28 "Invalid version error"
I have a set of uuid's which were generated from different platforms and are very old, are now breaking after the recent commits 90e70752a64cf46564d9eede418fe822948f7529.

One such Id which I am using is : ba60a9fc-b22c-9d4c-970e-5fb8eacdbe16
I get "invalid version" when used with FromString.

[2016-06-13 21:17] redmoxie commented on #28
Getting the same issue here with GUIDs from Active Directory.

[2016-06-28 15:17] jeffrom opened #29 "json marshaling"
with UUID, marshalling to json looks like `{id: "f4ee338d-d66d-452f-93d5-440fa3ae980b"}`, however a NullUUID looks like `id: {
UUID: "3bdef553-9b6a-4620-8a5f-b94bf22a2520",
Valid: true
},`.

Is that your intent? If not I have a pull request that brings NullUUID in line with UUID by implementing encoding.TextMarshaller. Thanks.

[2016-06-28 21:31] satori commented on #29
`NullUUID` is not supposed to be used outside of a SQL context. See discussion in #23.

I believe the same is true for `Null*` types from [`sql` package] [1]

[1]: https://golang.org/pkg/database/sql/

[2016-06-29 03:03] #29 closed

[2016-07-02 11:08] gianarb opened #30 "Get time from a UUID"
Hello just a question
There is a way, and do this library provide a method to obtain the time from a UUID?
Thanks a lot

[2016-07-13 16:37] dashaus opened #32 "It has any sense NullUUID struct?"
I don't found the explication to NullUUID struct. A array can't be nil, so a NULL value in databases should be a zero value in a array for Go.

I would change the Value method to:

[code]

And would remove the NullUUID

[2016-07-13 16:43] satori commented on #30
There is no such method as UUID isn't always based on timestamp.

For timestamp-based UUID actual timestamp part is being modified to store UUID version bits, so there is no way to get original time from UUID.

[2016-07-13 16:47] satori commented on #32
In SQL standard NULL means an **absence of value**, while Nil UUID from RFC states for a **zero value** of UUID. You can find further discussion in #23

[2016-07-13 16:50] dashaus commented on #32
Ups! Ok, makes sense. Thanks!

[2016-07-13 16:50] #32 closed

[2016-07-13 18:07] satori commented on #28
It should be fixed by 0aa62d5ddceb50dbcb909d790b5345affd3669b6. Thanks for reporting it!

[2016-07-13 18:12] #30 closed

[2016-07-14 07:48] gianarb commented on #30
thanks!

[2016-07-14 21:27] #28 closed

[2016-07-22 03:59] apkrieg opened #33 "NilUUID/Nil instead of NullUUID"
This would add consistency with the Go language AND the RFC 4122 specification. You can see [here](http://www.ietf.org/rfc/rfc4122.txt) it's called a "Nil UUID" @ 4.1.7.

I think it would make more sense to at least have it as `uuid.NilUUID`, but probably the most sense as `uuid.Nil` since `uuid.NilUUID` is kind-of redundant since you always have the package name anyway.

[2016-07-22 04:35] apkrieg commented on #33
I'm an idiot. Closing issue.

[2016-07-22 04:35] #33 closed

[2016-08-10 21:57] EricLagergren opened #34 "UnmarshalText should allow a quoted UUID"
See: https://play.golang.org/p/fLCHFbG12O

[2016-08-10 21:59] EricLagergren commented on #34
Actually, I misread the docs.

[2016-08-12 15:07] satori commented on #34
No worries

[2016-08-12 15:07] #34 closed

[2016-10-07 20:59] danilobuerger opened #38 "uuid.Value []byte vs string"
Is there a particular reason why uuid.Value returns a string instead of a []byte?

[2016-10-08 17:05] danhardman commented on #38
I assume it's just to make it readable when storing it in a database, else you'd be storing it as a blob.

[2016-10-08 17:06] danilobuerger commented on #38
What if i want to store it as a 16 byte blob instead of a 36 byte string?

[2016-10-08 17:10] danhardman commented on #38
Typically, UUIDs are used as a client provided value to reference some unique record. So you'll typically receive it as a string. It makes sense to store it as such to avoid having to do any type conversion

[2016-10-08 17:54] danilobuerger commented on #38
It doesn't really matter how it is received as this library stores it in a 16 byte array. So even if I did receive it as a string from a client, it would then be a 16 byte array after calling `FromString`.

Point is: I can scan it from either a 16 byte slice, a text byte slice or a string. When valuing it, I should have the same options. If it came from the database as a 16 byte slice, I would ass

[2016-10-08 18:09] danhardman commented on #38
Fair point. I was worried manually querying blob data in a MySQL database for example would be fiddly but it seems MySQL will cast strings to binary in queries. Not sure about other databases though...

[2016-10-08 18:16] danilobuerger commented on #38
Postgres handles this fine as well. You can exec / query with either string or byte array. On the console, it displays the UUID type as a string.

[2016-10-09 10:25] satori commented on #38
@danilobuerger @danhardman See initial discussion in #5
I never tested since if **lib/pq** supports binary protocol.

[2016-10-09 11:51] danilobuerger commented on #38
@satori Thanks for the link. Support for binary protocol in lib/pq was added here: https://github.com/lib/pq/pull/357. It is a bit annoying to always call `Bytes()`. Maybe there is a better solution while providing backward compatibility for people relying on it to be a string?

[2017-01-24 23:07] juliandroid opened #40 "Origin validation"
This my seem odd feature request, but I was wandering about a use case that might be interesting to discuss.

Let's assume I have 100 devices with their own MAC addresses and let's assume that these devices generates their own UUIDs as part of the whole data.

At some point in time those devices send a request to the mother ship (cloud) with the newly generated UUIDs. For example, let's assume tha

[2017-02-20 09:43] rezxv opened #42 "Helper function: Must"
Some UUIDs are usually hardcoded rather than obtained / parsed from external sources. These UUIDs are probably best defined as "constants" (or rather, global *don't-touch-this* variables) and rather getting a nil UUID (i.e., FromStringOrNil), it's usually preferred to panic when the string is not a valid UUID. It will be nice if we can have `Must` function which is [idiomatic in Go](https://golang

[2017-03-23 20:59] EmperorEarth opened #46 "Truncated UUIDs in BINARY(16)"
When using [go-sql-driver's mysql package](https://github.com/go-sql-driver/mysql), occasionally (~1%-3% of the time), the uuid's get clipped when saving to the database. I haven't found a full pattern yet, so I can't be sure it's in your package, go-sql-driver's package, or something else. Here's what I know:

Git hash: b061729afc07e77a8aa4fad0a2fd840958f1942a
MariaDB v10.1.16 on Windows 7x64 (al

[2017-04-02 10:56] matthewmueller opened #47 "Can't scan into *uuid.UUID"
Wondering if it's possible to support scanning into `*uuid.UUID`. Something like this:

[code]

Right now it'll error out with:

[code]

If I use `uuid.NullUUID` it does work, but I prefer using pointers in this context.

[2017-04-03 12:00] satori commented on #47
Which version of Go is it?

[2017-04-03 12:01] matthewmueller commented on #47
@satori Go 1.8

[2017-04-05 20:58] EmperorEarth commented on #46
Some more data (from Ubuntu 16.04 LTS)

Bugged UUIDs are bolded
UUIDs generated within the same transaction are included for context

So far, 12 of my 579 UUIDs have trailing `00`'s (Just over 2%)

[2017-04-05 21:04] EmperorEarth commented on #46
Can it be my sanitizer?

[code]
[code]

[2017-04-07 02:27] EmperorEarth commented on #46
[Probably solved by methane here](https://github.com/go-sql-driver/mysql/issues/558#issuecomment-292403249)

[2017-04-07 02:27] #46 closed

[2017-04-07 13:45] satori commented on #46
@EmperorEarth the problem might be that you are formatting `.Bytes()` output into `%s` instead of `.String()`

[2017-05-04 10:34] peter-edge opened #48 "Release new version?"
Is there any way a 1.2.0 could be released with all the commits since 1.1.0? :)

[2017-05-16 15:28] vmihailenco opened #49 "Add IsZero method"
Hi,

What do you think about adding `IsZero` method to UUID type? This is needed for [go-pg](https://github.com/go-pg/pg/issues/537) to check if uuid does not have any value and generate

[code]

instead of

[code]

I already do this for `time.Time` and it works well. I can send PR if you don't mind.

[2017-05-21 16:50] rkuris commented on #30
Actually, this isn't really true. Please see https://github.com/satori/go.uuid/pull/50

[2017-05-30 01:10] rkuris commented on #48
This would probably be 1.1.1 since there aren't any new features in master that aren't in 1.1.0.

You're welcome to use https://github.com/rkuris/go.uuid/releases/tag/v1.2.0 if that helps.

[2017-07-20 09:23] zwpaper opened #53 "is a uuid strip function help?"
Hi, thanks for the great repo, but when I was using the repo, I found that sometimes I need a strip uuid, like `6ba7b8109dad11d180b400c04fd430c8`, just get rid of `-` in line.

I have to use the `strings` package to replace the `-`, I was thinking if `go.uuid` can provided a `strip` function to make it simple

also, I can write a PR for this, if `go.uuid` like this proposal.

thanks

[2017-08-29 15:35] iaroslav-ciupin commented on #53
I find this useful as well. It would be great to have this feature.

[2017-09-13 15:28] duaneking opened #57 "uuid.FromString("6ba7b8109dad11d180b400c04fd430c8") does not work, and really should."
I feel the tests have an error in them, in that a format is not supported that really, really should be.

While **uuid.FromString("6ba7b810-9dad-11d1-80b4-00c04fd430c8")** is clearly supported, the string **uuid.FromString(""6ba7b8109dad11d180b400c04fd430c8")** should also work as well as its considered a valid uuid in many languages and schema frameworks and so this support is important for inter

[2017-09-15 20:12] jlburkhead commented on #57
why not write a wrapper around `uuid.FromString`?

[code]

[2017-09-16 03:50] duaneking commented on #57
I thank you for your response, but wouldn't that wrapper be much slower than a more native implementation?

[2017-09-18 15:47] CatherineMadden opened #58 "Did you get my message?"
Hi Maxim,

I've sent you an email on UXDX a few days ago and I'm wondering if you had a chance to read it; I'm afraid it might have been marked as spam.

I would like to say thank you for being involved in Open Source and discuss something regarding our conference.

Could you please double check your email or drop me a message at catherine@uxdxconf.com?

Thanks in advance,
Catherine

[2017-09-25 14:47] apkrieg commented on #49
I don't think adding functions to support 3rd-party libraries is a good idea. The issue is closed now I see.

[2017-09-28 15:23] srenatus commented on #18
@satori Hey there 😃 I'm curious, is this being worked on?

[2017-10-09 13:42] jbsturgeon commented on #30
Could the library just return an error if the time isn't valid?  A lot of libraries (including this one) have time based UUID's.  I'm trying to move away from gocql and this is the best alternative minus this one missing function.

[2017-10-09 14:46] rkuris commented on #30
@jbsturgeon that's exactly what PR #50 does, unless you're saying that there is some kind of timestamp embedded in a Type 1 UUID that is outside the golang time type's range.

If that's indeed the case, please comment on #50 and provide a sample Type 1 UUID that has an invalid time and doesn't return an error. I'll be happy to amend the PR.

[2017-10-14 17:41] dalu commented on #49
cool, not using this package then

[2017-10-25 14:03] alessandrozucca opened #64 "Allow to get UUIDs with random MAC address"
In the current version using `NewV1()` and `NewV2()` the MAC address is only randomised when the network card is not found.

I would like to have a way to always have a random MAC address.

This is for security reason, as we don't want to expose it.

[2017-10-30 11:41] lafreak opened #65 "Is uuid.NewV4() globally unqiue?"
If I use this package in 2 different packages and use these in my go command, will all uuids be unique?
Maybe it sounds like language specific question, I'm still new in Go.

[2017-11-27 20:57] n00dl3 commented on #65
It's highly improbable, but that does not mean it is impossible. uuid v4 are generated using crypto/rand package, which is supposed to have sufficient entropy.

From wikipedia :

[2017-12-04 14:57] ivanjaros commented on #57
To my knowledge the dashes are in the standard so not having them is non-standard and you should handle those cases on your own.

[2017-12-16 22:36] daskol commented on #57
@duaneking Look at issue #54. I proposed there more efficient implementation than @jlburkhead suggested. Moreover if you do not want apply my patch by yourself you could use [fork](/edadeal/uuid) of @edadeal. We maintain and develop this project since @satori stop maintaince and even do not reply any comments.

[2017-12-26 12:52] BourgeoisBear commented on #38
@danilobuerger What is the downside to just rolling your own struct composition and overriding Value()?

[2018-01-02 14:12] #42 closed

[2018-01-02 15:51] satori commented on #57
Closed by merging #54

[2018-01-02 15:51] #57 closed

[2018-01-02 18:11] satori commented on #65
Closing the issue as @n00dl3 provided the correct answer.

[2018-01-02 18:11] #65 closed

[2018-01-03 01:13] satori commented on #49
What you are trying to achieve is the **absence of value** represented by NULL in SQL standard, while Nil UUID from RFC states for a **zero value** of UUID. You can find further discussion in #23 and try using `NullUUID` instead which is designed specifically for sql package.

Interpreting a zero value as absent value is fundamental mistake.

[2018-01-03 01:22] satori commented on #53
Thanks for using the library, unfortunately I don't see much value in method like that as it should be simple oneliner `hex.EncodeToString(u.Bytes())`.

[2018-01-03 01:22] #53 closed

[2018-01-03 01:25] satori commented on #49
Closing for the same reason as other `IsZero` PRs.

[2018-01-03 01:25] #49 closed

[2018-01-03 16:16] #18 closed

[2018-01-03 20:16] packrat386 opened #66 "Breaking API Change"
https://github.com/satori/go.uuid/commit/0ef6afb2f6cdd6cdaeee3885a95099c63f18fc8c breaks the API that's been stable for years. Why is this important enough to change with no warning, despite the community standard to be avoiding breaking API changes without some kind of versioning system? The original issue indicates some sort of deprecation warning was considered, but seems to never have been imp

[2018-01-03 20:17] ivucica commented on #18
FWIW this issue talks about introducing deprecation warnings. But, I don't think I've seen any warnings, nor do I see them removed in https://github.com/satori/go.uuid/commit/0ef6afb2f6cdd6cdaeee3885a95099c63f18fc8c.

Was this intended? Did you mean to introduce them first?

This broke at least `gopkg.in/oauth2.v3`.

[2018-01-03 20:26] markbates commented on #66
I just hit the same problem with github.com/markbates/pop and github.com/gobuffalo/buffalo this breaks both projects.

I agree with @packrat386 this is a big breaking API change that was sprung on everyone.

Can we please revert that change, for now, and create a path to making the breaking change?

[2018-01-03 20:27] jjuarez commented on #66
I have faced the same issue

[2018-01-03 20:28] packrat386 commented on #66
We've already fixed it in our code, so honestly undoing it is only going to cause more problems for us, but either this approach to API stability is a major problem. This should have been `NewV1WithError()` or something.

[2018-01-03 20:51] sbowman commented on #66
At this point if you want to change the API, you should create a new project or version it somehow.  Your change basically broke a dozen projects at our company.

[2018-01-03 23:23] davidpope commented on #66
Agreed with @sbowman , this broke a bunch of our projects.

If you use version tagging, at least those of us using glide and 'go dep' can protect ourselves by pinning our major versions. For example, if you tag f58768 as 1.2.0 and 0ef6af as 2.0.0, the fix is simple on our end.

I agree that the proper immediate fix is to revert, however.

[2018-01-04 00:25] prowley commented on #66
Also broke the goa project.

[2018-01-04 06:12] ThePixelBro22 opened #67 "Everything is broken"
After this sudden change, everything in my code will NOT work. Not even build with docker

All I get is this `multiple-value uuid.NewV4() in single-value context`

[2018-01-04 07:42] glerchundi commented on #66
I agree with you all that these kind of breaking changes should be treated in a much more soft way. BUT, consider two things:
* It's a personal project and he can do whatever he wants,
* If you're pinning to master branch, you're already doing it wrong.

[2018-01-04 09:20] callmeErgou commented on #67
me too ......

[2018-01-04 10:03] mpecan commented on #67
[code]
changes to
[code]

I have the same issue, but the new format actually complies with the Go guidelines better, so I guess we will just have to change and adapt.

[2018-01-04 10:33] jinroh commented on #66
This is also an issue for us because we rely on the dep chain [hermes](https://github.com/matcornic/hermes) -> [sprig](https://github.com/Masterminds/sprig) -> go.uuid.

Could we introduce another method instead of making a breaking change, like `uuid.NewV4Safe()` or something along those lines ?

[2018-01-04 12:07] thepauleh commented on #18
+1 invuca, change broke the internet

[2018-01-04 14:00] snedzad commented on #67
If the reason is really the need for compliance it's a terrible one. It's breaking everyone's code just to have some compliance achieved. You should've made v2 and make changes there.

[2018-01-04 14:33] ivucica commented on #67
See also original bug https://github.com/satori/go.uuid/issues/18 and maybe consider continuing this discussion in https://github.com/satori/go.uuid/issues/66

[2018-01-04 14:34] ivucica commented on #66
Original request to make the change that broke people, https://github.com/satori/go.uuid/issues/18, talked about "let's warn people for 6-12mo" which I don't think happened.

[2018-01-04 16:02] packrat386 commented on #66
I think that's the important bit here. If there was something like a deprecation warning or a new method, I don't think anyone would be opposed to the change. I, for one, _certainly_ prefer a library that returns an error rather than panicking. The issue isn't with the content of the change, but with how it was rolled out.

[2018-01-04 16:57] thurt commented on #66
regarding how to handle the error, is this error merely transient? ie. can we simply keep retrying to create UUID until we do not get an error?

[2018-01-04 17:38] jasonkeene commented on #66
Software changes.

(•\_•)
( •\_•)>⌐■-■
(⌐■_■)

Deal with it.

[2018-01-04 18:58] ivucica commented on #66
It can sometimes change more slowly, in an ecosystem that encourages
building all from head?

Which was the original, laudable plan, too :-)

--
Sent from Gmail Mobile on iPad

[2018-01-04 19:10] kataras commented on #67
@satori Can you create a branch based on that commit: [5bf94b69c6b68ee1b541973bb8e1144db23a194b]( https://github.com/satori/go.uuid/commit/5bf94b69c6b68ee1b541973bb8e1144db23a194b)? This will fix some issues that `dep` users have with [iris](https://github.com/kataras/iris) (although Iris vendored the go.uuid and has not any problems for its session databases or internal packages but `dep` tool do

[2018-01-04 19:15] ktnyt commented on #66
I personally want to support @thurt's suggestion about looping until the method succeeds for uuid.V*. As @jinroh points out functions that return multiple values should have been implemented separately. I think this project has grown popular to the point where destructive changes in the interface can no longer be excused for the project being personal. Sure it's no Python 3 but still a lot of peop

[2018-01-04 19:43] evillemez commented on #66
A version tag pre/post this breaking change would be helpful.  In the meantime, I'll try and pin to a specific commit before the change.

[2018-01-04 19:46] cstockton commented on #66
There are many options besides committing a breaking change and causing months of collateral damage. If you want a good example of what happens when a project has a breaking change look at https://github.com/sirupsen/logrus/issues/451 - as projects slowly update their code you end up with some dependencies fixed, some broken for many months. It's most painful for the people who import the broken p

[2018-01-04 19:56] evillemez commented on #66
For those using `dep`, I changed my `Gopkg.toml` to this, which pins to the last commit on Jan. 2, the day before the change:

[code]

Not the best solution, but unbreaks things for now.

[2018-01-05 06:42] ktnyt commented on #66
Please let me apologize for jumping the gun here but I was starting to get the impression that reverting the interface was pretty urgent. I tried not to destroy the modified interface as much as possible while reverting the global namespace NewV\* functions (which I believe is the heart of most issues) to the original function signatures. If the NewV\* methods for the Generator interface needs to

[2018-01-05 08:17] qct commented on #66
though breaking changes bring tons of damage to developers, but I want to say why don't you use release version, like v1.1.0?

[2018-01-05 17:30] grugnog commented on #67
Also seeing fails on:

[2018-01-05 17:34] grugnog commented on #66
Also seeing fails on github.com/Masterminds/sprig and github.com/qntfy/kazaam

[2018-01-05 17:38] gagliardetto commented on #66
https://godoc.org/github.com/satori/go.uuid?importers

[2018-01-07 05:13] duaneking commented on #57
👍

[2018-01-08 07:17] artpar commented on #66
Please at least make a new release, 1.2.0 for this new signature.

[2018-01-08 12:23] jeffallen commented on #66
What would help me a lot is to make a v1.1.1 tag on commit 0ca0c2cf9e6f8d79757fdc089a34c854ad557138, i.e. before the recent round of development work.

Then I can change my imports to gopkg.in/satori/go.uuid.v1 and everythign will go back to how it was 6 days ago.

People who are using dep would also be able to pin it by name instead of by commit hash.

Thanks for your work on this.

[2018-01-08 15:11] markbates commented on #66
@jeffallen you have to remember that `go get` pulls from master. That’s why a lot of packages are breaking. I feel the pain of managaing open source projects, so I get where you’re coming from. With that said, if you look at the imports this is a very widely used project. So changes do affect a lot of people, businesses, and packages.

With all that said it’s clear this isn’t getting reverted any

[2018-01-08 16:49] cstockton commented on #66
@jeffallen When backwards compatibility is broken for thousands of projects people have every right to voice their concern. There is a reason Go has the backwards compatibility guarantee, it was designed to have stable API's distinguished by import path. Some tools may have recently emerged but the build system is still not very friendly for dependency management.

The issue with this library is t

[2018-01-08 16:57] fulldump commented on #66
I can only say one word:

[2018-01-08 17:04] fulldump commented on #66
This dependency https://github.com/satori/go.uuid/commit/676762fded691d9dd8c823ef059c31005e49ec56#diff-5d96e115a63d4a2a5264c3f3e412633dR32 was the beginning of the end...

Looking forward to use this replacement: https://github.com/google/uuid , some thoughts?

[2018-01-08 20:27] qiangli commented on #66
Take it easy, fellow gophers; fixing broken code is what we do everyday ;-)

[2018-01-10 01:21] luiscvega commented on #66
First of all, I want to say thank you to @satori for doing such a good job on a widely used project. I know it's not easy working open-source projects.

But more importantly, I just wanna understand the reason for the change in adding an `error` return to the NewVN` functions. I'm actually curious at what kind of error is returned and how often it would happen. I'm not exactly familiar with the in

[2018-01-10 01:23] luiscvega commented on #66
@jeffallen @cstockton @satori

First of all, I want to say thank you to @satori for doing such a good job on a widely used project. I know it's not easy working open-source projects.

But more importantly, I just wanna understand the reason for the change in adding an `error` return to the NewVN` functions. I'm actually curious at what kind of error is returned and how often it would happen. I'm n

[2018-01-10 03:46] ktnyt commented on #66
@luiscvega fyi. #18 should be the original issue addressing the problem. @cstockton provides some detail on the topic in #68 which was insightful for me so it might be worth a read.

[2018-01-10 08:03] leffen opened #69 "undefined: uuid.Must"
Hi,

I am struggelig with dep and a dependency with this library. Unfortunately it seems like renstrom/shortuuid uses uuid.Must. Is it possible to get a release with this included so Dep can be satisfied ?

[2018-01-10 08:32] ktnyt commented on #69
Did you update your local copy of satori/uuid ? The master branch from this repository provides `uuid.Must` (which may or may not be reverted: refer to #66 ).

[2018-01-10 08:36] leffen commented on #69
The problem for seems to be that the override to master in Gopkg.toml  is overwritten by dep when doing the dep ensure -update and then its reverted back to the release. Probably due to another dependency.

[2018-01-10 14:21] mattfarina commented on #48
Tools that rely on semver (dep and glide) are only picking up the last release. Could you please tag a new release if the code is stable?

[2018-01-10 19:14] satori commented on #48
@peter-edge I've tagged v1.2.0 which is last commit before API has changed but contains some bug fixes and improvements: https://github.com/satori/go.uuid/releases/tag/v1.2.0

@mattfarina I plan to make a few more changes over weekend / review some PRs and going to release v2.0.0 early next week.

[2018-01-10 19:14] satori commented on #69
@leffen I've tagged v1.2.0 which is last commit before API has changed but contains some bug fixes and improvements including `uuid.Must` helper: https://github.com/satori/go.uuid/releases/tag/v1.2.0

I plan to make a few more changes over weekend / review some PRs and going to release v2.0.0 early next week.

[2018-01-10 19:19] satori commented on #67
Closing as a duplicate of #66

@kataras I've tagged v1.2.0 as last commit before API has changed but contains some bug fixes and improvements.

[2018-01-10 19:19] #67 closed

[2018-01-10 21:34] leffen commented on #69
Cool, Thanks. Looking forward to the new release :-)

[2018-01-12 13:38] fulldump commented on #66
@qiangli fixing broken code should not be what we do everyday, there are a bunch of other things to deal with.
@satori go.uuid is a great library and it solves a real need in the golang ecosistem, it is a great work. Breaking backwards compatibility is a pain in the ass, but in terms of time economy, think about the amount of effort required to update all projects. If we suppose only 1659 projects

[2018-01-13 15:31] marcaudefroy commented on #69
Waiting the release, you can do this to force version for the transitive dependency :

[[override]]
  name = "github.com/satori/go.uuid"
  branch = "master"

More info on : https://github.com/golang/dep/blob/master/docs/FAQ.md#how-do-i-constrain-a-transitive-dependencys-version

[2018-01-14 01:11] daenney commented on #66
A v1.2.0 has been tagged that doesn't have the backwards incompatible changes. Please pin your dependencies to that.

[2018-01-16 21:27] markbates commented on #66
@satori @daenney can we please get a `1.3.0` tag on master that has the new changes. we've all gone and changed our code to use the new changes, but because there isn't a tag for it `dep` breaks because it's finding the `1.2.0` release an using that instead of the new stuff.

[2018-01-16 21:30] TyBrown commented on #66
If the project is tagged/versioned by Semantic Versioning, shouldn't this tag be more appropriately called `2.0.0` since the changes are not backwards compatible?

[2018-01-16 21:31] markbates commented on #66
@TyBrown I'll take whatever I can get at this point. :) but yes, `2.0.0` would make more sense

[2018-01-18 07:01] anks333 opened #70 "not enough arguments in call to uuid.Must"
not enough arguments in call to uuid.Must
    have (uuid.UUID)
    want (uuid.UUID, error)

if I install the package using dep `dep ensure -add github.com/satori/go.uuid`, then Must function expects two arguments.

`uuid := uuid.Must(uuid.NewV4(), errors.New("UUID Error"))`

but if I install the package using `go get github.com/satori/go.uuid`, then Must function expects only 1 argument

`uuid :=

[2018-01-19 01:39] Sectorbob commented on #70
I am experiencing the same sort of behavior. `go get -u` places the correct revision (I assume), while `dep init` or `dep ensure` are causing the `vendor/` contents to act awry.

[2018-01-19 09:04] skmgw commented on #70
I have faced the same issue.
The change ( https://github.com/satori/go.uuid/issues/66 ) cause this issue is assumed.

[code]

[2018-01-21 17:44] blokhubio commented on #48
Please release version 2 already :)

[2018-01-22 15:44] markbates commented on #66
@satori can you please cut a new release against master? When that’s done I think this ticket can be finally closed. Right now because they’re is no tag this ticket is hurting everyone who uses a tool like dep to manage package dependencies. We’ve all fixed the packages that were broken with this ticket, but things are still broken because there is no tag that corresponds to these new changes and

[2018-01-25 02:02] macrael commented on #70
See #66

[2018-01-26 04:07] kevinburke commented on #66
For what it's worth, I forked this project & will maintain the old API as is github.com/kevinburke/go.uuid

[2018-02-01 13:52] markbates commented on #66
@satori or anyone else, will you please cut a new tag for the master branch? Please! I’m sick of having to tell everyone that tries to use a package manager that they need to pin to the master branch. Cut a new tag and then close this issue. Code changes, we get it, we’ve all updated, but you’re still causing a world of hurt because no one can take 10 seconds and cut a new tag. Add me to the repo

[2018-02-01 15:54] omarkohl commented on #66
I was bitten by this issue today as well. Please add a `2.0.0` tag to the current master as @markbates suggests.

[2018-02-01 22:14] howdoicomputer commented on #66
If anybody is coming here from Googling build errors and you're using dep then you'll need to change your Gopkg.toml to point to the master branch for go.uuid.

Like so:

[code]

[2018-02-08 16:26] thurt commented on #70
@anks333 i think you would get this error only if you are using the api from master but have 1.2 installed in vendor/

[2018-02-10 00:44] welps commented on #69
@satori No rush, any idea when the next release is going to get tagged?

[2018-02-21 16:34] mattwilliamson commented on #66
Buullllllshhiiiiiitttttttt

[2018-02-21 19:25] kevinburke commented on #66
@mattwilliamson that's not a helpful way to express frustration

[2018-02-27 03:36] toplinuxsir opened #71 "multiple-value uuid.NewV4() in single-value context"
I installed the lib,
But go the error :
multiple-value uuid.NewV4() in single-value context

[2018-02-28 10:32] u007 commented on #71
hi, the fix is simply moving the tag 1.2.0 to the latest commit
can someone do that in this repo?

thank you

[2018-02-28 11:00] u007 commented on #71
same with
https://github.com/satori/go.uuid/issues/66

[2018-03-03 00:29] robbyoconnor commented on #66
For what it's worth -- when you have a project which people rely on - breaking the API in this manner warrants that level of response. It's egregious.

[2018-03-03 00:54] ivucica commented on #66
It's not like we are owed anything by @satori; as unpleasant as it is to break large parts of the ecosystem, there are ways around it.

[2018-03-03 00:56] robbyoconnor commented on #66
very true -- but you need to follow semantic versioning at the very least. When you have users relying on your library -- you should at least consider that.

[2018-03-07 14:58] ivucica commented on #66
It might be polite, but is not required, nor are we (as non-paying non-customers) entitled to it :-)

It's nice and useful, but again, adhering to it is merely politeness.

[2018-03-14 21:27] SandraKriemann commented on #71
same here

[2018-03-16 13:58] rvdwijngaard commented on #71
same here

[2018-03-19 00:24] apkrieg commented on #66
I'm very for this change. Took me less than 10 minutes to fix all of my projects with simple find and replace. I'm now no longer using `recover()` for these functions.

[2018-03-20 17:04] cmackenzie1 commented on #71
same here

[2018-03-21 22:04] domino14 commented on #71
lo mismo aquí

[2018-03-21 22:07] domino14 commented on #71
It's ok though. Don't pin to master!

[2018-03-23 20:58] josselin-c opened #73 "NewV4: non-random uuid"
I'm running this on my macbook pro.

I'm using uuid.Must(uuid.NewV4()).String() to generate random identifiers. I'm generating theses identifiers at a _very_ low rate of a few dozen per days

Here are some non-random UUID that I got in the last weeks:
[code]
I think I shouldn't have theses.

[2018-03-25 06:35] llcranmer commented on #66
This comment is for those who are just starting out with the package and have not used it before.. when using the NewV4(), use it like so, to get rid of the "multiple-value uuid.NewV4() in single-value context"
	id := uuid.Must(uuid.NewV4()).String()

[2018-03-27 04:20] asciiu commented on #71
Same same

[2018-03-28 03:47] mattwilliamson commented on #66
It could have easily been done by adding a new function instead of breaking tons and tons of projects. I, myself have about 20 that were. Switching to github.com/google/uuid was faster and easier than implementing error checking.

By the way, why should generating a uuid ever fail? It's just a stinking random byte array. Fail to get MAC address? Fail to get timestamp? At this point I would rather

[2018-03-28 03:48] kevinburke commented on #66
In rare cases, you can't read random bytes from crypto/rand.Reader.

[2018-03-28 03:50] mattwilliamson commented on #66
Retry or return `nil`? Backwards compatibility is important stuff. I don't know why you would downplay it.

[2018-03-28 05:15] kevinburke commented on #66
I'm not downplaying it. See earlier in the thread where I described how I maintain a fork now. You asked why it could return an error and I told you.

[2018-03-28 18:26] mattfarina commented on #71
@satori will there be a 2.0.0 release in the near future?

[2018-04-03 17:26] domino14 commented on #73
humans are bad at telling randomness. While it is extraordinarily, astronomically unlikely that you would have so many uuids with that many zeros, it is still theoretically possible.

[2018-04-03 17:26] domino14 commented on #71
please tag

[2018-04-03 19:36] josselin-c commented on #73
In an IDs such as `80730000-0000-4000-8000-000000000000` there are ~14 consecutive bytes of zeros.. While a probability of something like 1/2**(14*8) isn't nil, it's still too low for my taste. Drawing theses IDs 5 times out of ~1000 isn't just bad luck. In real life, if it was possible, I would start mining bitcoins with my super powers!
[code]
I don't know the root cause of this.

[2018-04-03 21:51] peterstace commented on #73
These UUIDs seem suspiciously non-random to me as well.

`NewV4` gets its randomness from `crypto/rand.Reader` (and is basically a passthrough to populate a UUID). The code in `NewV4` is really simple, I don't see how it could go wrong.

The only possibilities I can think of:
- There is a bug in `crypto/rand` (seems unlikely).
- Since `crypto/rand.Reader` is just a variable, some malicious/acciden

[2018-04-04 06:46] josselin-c commented on #73
Okay, I can reproduce it!
On my machine I have two separate processes: one webserver (ServerA) that calls `uuid.Must(uuid.NewV4()).String()` while simultaneously doing http requests to another webserver (ServerB) used for image resizing (imgproxy).

I instrumented ServerA with this code:
[code]

Which runs without crashing if ServerA idle or handling standard requests. If ServerA is calling Server

[2018-04-04 09:12] forston opened #74 "[Question] It doesn't support to transform between Big-endian and Little-endian in net work"
Hi

I meet a problem when I use this code to query from Sql Server.

I define a "UNIQUEIDENTIFIER" column in database,  i use "id          uuid.UUID" to query from database.

The right value in DB is "C74037D4-D0BA-471C-9200-31187972F117".

But  what i got  is "d43740c7-bad0-1c47-9200-31187972f117", it seemed that front third has wrong sequence.

I see  UUID define is "type UUID [Size]byte", it se

[2018-04-04 11:50] josselin-c commented on #73
Okay, I found the problem.
Here is the current NewV4 code:
[code]

`Read()` gives no guaranties about the number of bytes actually read. From https://golang.org/pkg/io/#Reader:

Turns out, on some occasions `Read` would read less than `len(u)` bytes. I thinks uuid should use [ReadFull](https://golang.org/pkg/io/#ReadFull) instead of plain Read().

[2018-04-04 14:38] domino14 commented on #73
@josselin-c Could you make a patch and see if you can reproduce the error with your script and `ReadFull`? I wonder if using `ReadFull` would outright return an error in this case, because there aren't enough bytes to read.

[2018-04-04 14:41] domino14 commented on #66
@satori pls

[2018-04-04 15:29] domino14 commented on #73
One more thing that is interesting to me is the fact that the UUIDs you posted are not of equal length.

[2018-04-05 07:43] ktnyt commented on #66
It's been three months so I feel like this issue is pretty much, technically, closed in terms of discussion (unless we hear back from @satori ). No reversion. Deal with it, or resort to an alternative.

# tl;dr

## What happened?
Some old interfaces (`uuid.NewV1`, `uuid.NewV2`, and `uuid.NewV4`) were broken: wrap them with `uuid.Must` to achieve identical results (e.g. `uuid.Must(uuid.NewV4())`).

[2018-04-05 12:40] domino14 commented on #66
That’s fine. We just want him to tag it so that we can use dep without overrides.

[2018-04-12 18:53] bobstrecansky opened #76 "New Version"
Any plans on releasing a new version of this?  Seems like a relatively large number of changes since the 1/10/18 release (1.2.0)

[2018-04-23 16:13] Ulexus commented on #76
+1 So long as it is v2.x to indicate a breaking API

[2018-05-06 03:46] NikosEfthias opened #77 "dep fails because of the old versioning and it breaks the programs completely"
when you run dep ensure it pulls the latest version and it breaks the program if using some ci like circleci which just runs go get

[2018-05-08 15:58] bobstrecansky commented on #76
I'm not sure who would make this decision?  @Ulexus do you have any idea?

[2018-05-08 16:02] Ulexus commented on #76
That would be up to @satori

[2018-05-21 17:45] olavivaino commented on #74
This is known as GUID/UUID endian issue. I'm not sure if byte order in UUID type is actually wrong, at least reading-writing to-from SQL server works just fine. However when UUID is converted to string or from string then endianness goes wrong. Usually its not neccessary to display UUID's as text but sometimes its needed and then it matters.
And sometimes its really needed to have UUID's as consta

[2018-05-29 01:32] vonzcy opened #78 "Any potential problems for changing Size from 16 to 8"
I need 64-bit uuids, so I wish to change Size to 8. Any potential problems? I am mainly using Version4.

[2018-05-29 14:35] jarifibrahim opened #79 "uuid: cannot convert uuid.UUID to UUID"
I have the following struct
[code]
and
[code]
and this is the `Create` method being called
[code]

The line `m.db.Create(model).Error` is failing with `cannot convert uuid.UUID to UUID`

[2018-06-01 19:40] mikesun commented on #73
Hmm, the docs say that `rand.Read()` uses `io.ReadFull()`: https://golang.org/pkg/crypto/rand/#Read

[2018-06-01 20:20] mikesun commented on #73
So it looks like this commit introduced the bug: https://github.com/satori/go.uuid/commit/0ef6afb2f6cdd6cdaeee3885a95099c63f18fc8c

Prior to that commit, `rand.Read()` was used, which is a wrapper that uses `io.ReadFull()`: https://golang.org/pkg/crypto/rand/#Read

[2018-06-10 00:48] karux commented on #76
please tag a new version on head.   as @Ulexus mentioned, the current, latest API is not backwardly compatible with 1.2.0.   this is causing havoc with dep and vgo vendoring.

[2018-06-26 06:59] mayaijung commented on #76
@satori I wonder you are planning to release a new version of this sometime soon. I hope new version is available very soon.

[2018-06-26 11:18] monkeydioude opened #80 "fork with tag v2.0.0, state = current master"
I forked satori's repo and made a [v2.0.0 tag using the current master](https://github.com/monkeydioude/go.uuid/releases/tag/v2.0.0) of the project while waiting for any activity from @satori .

Hope this helps.

edit: I rather created a v2.0.0 tag since changes in this version are breaking

[2018-06-26 11:18] monkeydioude commented on #71
https://github.com/satori/go.uuid/issues/80

[2018-06-26 11:19] monkeydioude commented on #77
https://github.com/satori/go.uuid/issues/80

[2018-06-26 11:19] monkeydioude commented on #76
https://github.com/satori/go.uuid/issues/80

[2018-06-27 03:21] thanhps42 opened #81 "Is uuid.NewV4() thread safe?"
When I call uuid.NewV4() in multiple goroutine, I have some question:
- thread-safe?
- Can I get same uuid when multiple goroutine call it at same time?
P/s: sorry for my bad English

Thanks.

[2018-06-28 07:20] akkumar opened #82 "Newer release"
Since the latest tag / github release  - the signatures of NewV1 / V2/ V4 has changed to return an error.

Can we have a github release so it is easier to integrate in ``dep`` that way ?

[2018-06-29 11:16] monkeydioude commented on #82
https://github.com/satori/go.uuid/issues/80

[2018-06-30 03:01] qichengzx commented on #76
+1

[2018-07-06 21:38] metaleap commented on #81
Globals and thread-safety are only of concern if there are writes happening to the global (or more specifically, to some piece of _shared_ data, globally-scoped-or-not) concurrently with reads. Not seeing this here, a never-EOF'ing read-only rand reader is pretty safe to begin with. What sort of state might it have to protect, really? _But_ to top it off, for the linux/unix/bsd/plan9 impl there _i

[2018-07-10 16:51] CameronAckermanSEL commented on #73
How is a critical bug like this still unresolved? Especially given that someone already did the work to fix it.

[2018-07-11 17:21] josselin-c commented on #73
With [BigQuery](https://medium.com/google-cloud/github-on-bigquery-analyze-all-the-code-b3576fd2b150) I tried to find github projects using the vulnerable version of this library and opened an issue on each of theses projects. At least the word is out and projects can act accordingly. I unfortunately don't have time to patch them all.

[2018-07-11 17:30] josselin-c commented on #73
I used theses query:
[code]
`uuid.Must(uuid.NewV4())` has been introduced with the vulnerability so matching this expression should be correct.

[code]

Same thing, NewV4() that returns an error has been introduced with the vulnerability, matching this expression should be correct as well.

[2018-07-11 17:34] josselin-c commented on #73
Here is the projects list: https://gist.github.com/josselin-c/c1bda90ba538c65a5b8062aa2db0c386

[2018-07-11 17:34] CameronAckermanSEL commented on #73
Thanks, I think this will get a lot of the people who upgraded, but some folks caught and handled the error without using `Must`. Not a huge deal though.

[2018-07-11 17:36] josselin-c commented on #73
My second query is there to match the cases where Must wasn't used. In this case I assume they used the 'standard' convention for error variable naming & package name.

[2018-07-11 18:34] yamamushi commented on #73
Thank you for opening the issues that you did. This combined with the versioning issue that was opened months ago has pushed me into transitioning over to the google uuid repo.

[2018-07-11 18:35] CameronAckermanSEL commented on #73
@yamamushi I checked that google/uuid repo and it's kind of lacking and has some code smells. I would advise against moving there long term.

[2018-07-11 18:39] CameronAckermanSEL commented on #73
ping @monkeydioude, @kevinburke, @markbates saw that you guys have some forks that other people were directed to for appropriate tagging and such. Thought you might want to be aware

[2018-07-11 18:51] kevinburke commented on #73
Thanks - my fork doesn't contain that commit, and still uses the crypto/rand reader. I'll add a note to the docs. I'm still committed to maintaining my fork.

[2018-07-11 19:41] DamareYoh opened #83 "Consider archiving this repo"
This repo is widely popular, but has a 4 month old critical defect #73, and uses tagging practices that incentivize people to unsafely include `master` in their projects.

Please archive this repo if there is no intention to maintain it further.

[2018-07-13 15:17] miguelbemartin commented on #83
Hi @DamareYoh, do you know some alternative to this repo?

[2018-07-13 15:47] DamareYoh commented on #83
Hi @miguelbemartin, the Gophers slack community has set up a Github Org, and they're in progress on a semi official community supported fork of this here: https://github.com/gofrs/uuid

It's still pending merge of the critical defect fix while they get the repo set up. But there should be updates shortly.

[2018-07-13 15:54] kevinburke commented on #83
I maintain a fork that doesn't have the critical rand error, and maintains the old API as is. github.com/kevinburke/go.uuid

Others would be github.com/pborman/uuid, github.com/google/uuid.

[2018-07-13 16:09] miguelbemartin commented on #83
Thanks, @DamareYoh @kevinburke! As I am working on a pet project, I will keep using a fork also.

[2018-07-15 22:50] felipeweb commented on #82
i make a fork fix #73  and release a new version here https://github.com/felipeweb/uuid

[2018-07-18 19:58] theckman commented on #73
A few people in the Go community have banded together to adopt this package. We've just cut a v2.0.0 release of our fork: https://github.com/gofrs/uuid/releases/tag/v2.0.0

This is a GitHub organization with a few community members in it, so this package isn't being maintained by one individual. We're also available on the Gophers slack in [#gofrs](https://gophers.slack.com/messages/CBP4N9BEU).

[2018-07-18 20:19] CameronAckermanSEL commented on #83
The community maintained UUID package has released: https://github.com/gofrs/uuid/releases/tag/v2.0.0

[2018-07-18 20:31] rkuris commented on #73
Awesome! Should I rebase my PR against this so it can be considered for
merging? It's been sitting for well over a year...

https://github.com/satori/go.uuid/pull/50

On Wed, Jul 18, 2018 at 12:58 PM Tim Heckman <notifications@github.com>
wrote:

[2018-07-18 20:34] zerkms commented on #73
@rkuris `gofrs` being an activists collaboration is open for any suggestions, as soon as we all can agree it adds value to the project

A required note: this is not an official position, just my personal understanding of the aim of the organisation.

[2018-07-19 05:29] theckman commented on #78
@vonzcy yes, it would cause issues because UUIDs need 128 bits per RFC-4122. Because there are 8 bits to a byte, changing this to `8` would only allow us to store 64 bits worth of data. Whereas a size of 16 leads to 128 bits.

- https://tools.ietf.org/html/rfc4122#section-4.1.2

[2018-07-19 05:32] theckman commented on #66
Some members of the Go community are now maintaining a fork of this repo. We've just cut a v2.0.0 which is for the breaking change. Our fork keeps v1.2.0 available, if you still need it:

- https://github.com/gofrs/uuid

[2018-07-19 05:33] theckman commented on #80
Some members of the Go community have come together to adopt this package. We did a v2.0.0 release today:

- https://github.com/gofrs/uuid

[2018-07-19 06:26] theckman opened #84 "Add deprecation notice in favor of github.com/gofrs/uuid and archive this repo"
This is an issue to request that a deprecation notice be added to the README that points users to the fork created by some of us in the community (The Gofrs). In addition to that, it'd be good to mark the repo as being "archived" in the GitHub settings so that users get a nice warning that it's no longer maintained.

We plan to keep our fork maintained, as well as to include some of the feature re

[2018-07-23 03:41] theckman commented on #40
Do you still have a need for this feature?

Would most of your needs be filled if you could easily extract the MAC address and `time.Time` value out of the timestamp, so that you could compare them?

I'm admittedly hesitant to easily allow the injection of a different MAC address or timestamp.

[2018-07-23 09:04] dvlempljl commented on #40
Currently my need is postponed for later time (cloud implementation), but from consistency point of view seems like a good idea. However this is not part of the original RFC.. Also it seems most of my colleagues are using google/uuid anyway.

[2018-08-10 07:53] mu-mo commented on #71
Can you push a new tag, thanks.

[2018-08-16 21:58] sethgrid commented on #73
@josselin-c could you update the issue description and link to the new https://github.com/gofrs/uuid project?

[2018-09-04 04:15] rnataraja opened #86 "example code does not compile to no new declaration at line 23"
Example code in the main README.md needs a fix for compilation at line 23.

# uuid
./uuid.go:23:10: no new variables on left side of :=

[2018-09-04 05:03] rnataraja commented on #86
Thanks, will use that one.

[2018-09-04 05:03] #86 closed

[2018-09-12 19:41] #80 closed

[2018-10-16 17:00] #73 closed

[2018-10-16 17:16] #81 closed

[2018-10-16 17:20] #78 closed

[2018-10-16 18:52] #77 closed

[2018-11-10 18:44] zachlefevre opened #88 "Issue using go.uuid in docker container"
This line: ```aggregateID, _ := uuid.NewV4()``` works perfectly  when building on my machine, but I receive the error ```./main.go:51:17: assignment mismatch: 2 variables but 1 values``` when building with the following docker image:
[code]

Any help would be greatly appreciated.

[2018-11-13 11:11] limoli commented on #71
Any news? I am still getting the same problem.

[2018-11-13 18:10] mdanzinger commented on #88
Offhand it sounds like this may be an issue with dep getting an older version of satori. You may want to open an issue with dep. Migrating over to Go's modules might also solve this.

[2018-11-15 08:15] klj890 commented on #70
I have a similar question.
I used go version 1.11.
When I use **module** , it will be prompted as follows:
[code]
but, if set ``` GO111MODULE=off ``` , All is well。。。。
this is my code:
[code]

[2018-11-18 13:02] snatuva commented on #71
same here.

[2018-11-19 16:25] ghost commented on #88
https://github.com/satori/go.uuid/issues/84 Does this happen with the drop in replacement from https://github.com/gofrs/uuid ?

[2018-11-24 02:15] zachlefevre commented on #88
@DamareYoh It does not. The API is the same across my local instance and docker.

[2018-12-05 08:46] theckman commented on #84
@satori any thoughts on this?

[2018-12-05 09:53] fawkesley commented on #84
@theckman Thanks for pointing me to the fork. Got tripped up by the release being out of date (#82) so I appreciate this.

[2018-12-10 12:39] obitech commented on #71
This seems to be the case because NewV4() does only return the UUID and [no error](https://github.com/satori/go.uuid/blob/master/generator.go#L69). It should be an easy fix, I can submit a PR if wanted?

[2018-12-10 18:39] Klaus-Tockloth opened #90 "New Release possible?"
The current release is nearly a year old. Is it possible to publish a new release?

[2018-12-10 23:41] cameracker commented on #90
Probably not. https://github.com/satori/go.uuid/issues/84

[2018-12-11 07:22] Klaus-Tockloth commented on #90
Thanks for pointing to the fork package https://github.com/gofrs/uuid. I have switched to it.

[2018-12-17 08:53] wweir commented on #90
A timely release is so important for golang semver package management tool, such as dep / glide and go modules.
So, please release quickly.

[2018-12-17 15:34] cameracker commented on #90
If this package is not going to release to your needs, get a different one. There was a huge stink about a critical vulnerability that was left outstanding in this repo for 6 months and it resulted in a permanent, community maintained fork. See #84 like I posted earlier. Go look at gofrs/uuid for a drop in replacement.

At this point appeals to satori is kind of like shouting into a black hole. I

[2019-01-04 00:06] cameracker commented on #71
This repo is basically dead. Recommend moving to https://github.com/gofrs/uuid, which is an actively maintained fork. See https://github.com/satori/go.uuid/issues/84

[2019-01-19 02:29] ai0376 commented on #70
[code]
It's will ok! @anks333

[2019-05-03 14:46] jdharms commented on #70
@mjrao Thank you so much!

[2019-05-18 12:32] hubyhuby commented on #70
I tried several of the options in this thread, but none worked for me on go 1.12.
I finally switch to github.com/gofrs/uuid and it worked instantaneously ! Even with GO111MODULE=on

[2019-07-12 09:46] hazcod commented on #84
@satori .

[2019-08-25 14:22] kaka19ace opened #98 "could not get new version for go.mod"
we have dependence on master branch, but go.mod could not specify master version.

[2019-08-26 03:28] wejoy opened #99 "NewV1() get same result on Windows"
I called uuid.NewV1() many times on Windows, it return the same result.

Does it caused by something like this?
[why-does-time-now-unixnano-returns-the-same-result-after-an-io-operation](https://stackoverflow.com/questions/57285292/why-does-time-now-unixnano-returns-the-same-result-after-an-io-operation)

any solution?

[2019-08-29 23:13] sentient commented on #71
You can point to a specific commit before the issue started happening
e.g.
Note: not sure it this is the right commit, but this would point when NewV4 did not return an error

[code]

[2019-09-09 22:38] rkuris commented on #99
This package is obsolete. See https://github.com/gofrs/uuid instead.

[2019-09-09 22:39] rkuris commented on #98
This package is obsolete. Consider using https://github.com/gofrs/uuid instead.

[2019-09-10 02:46] wejoy commented on #99
Well, it looks like have the same question.

I used the code like:
[code]
and it the result on Windows is:
[code]

[2019-09-10 02:51] wejoy commented on #99
It looks good, I will make more test, thanks for the information :)

[2019-09-13 04:32] chingiz2387 opened #100 "assignment mismatch: 2 variables but uuid.NewV4 returns 1 values"
Hello everyone, I started experimenting with mod. When I initialize the modules in my project, all libraries are loaded and github.com/satori/go.uuid is loaded accordingly.. But when starting go run server.go, I get an error **{
	"resource": "/d:/myProject/oauth/tokenstore/tokenstore.go",
	"owner": "_generated_diagnostic_collection_name_#0",
	"severity": 8,
	"message": "cannot initialize 2 variabl

[2019-09-18 11:20] draev opened #101 "uuid.NewV4() - fixed in master, but bugged in all releases"
Could you please make a path release, with updated uuid.NewV4() function, that returns both, generated number and error, in case it happens

[2019-09-18 13:39] rkuris commented on #101
This repo is no longer maintained. Please use github.com/gofrs/uuid instead.

[2019-09-18 13:49] draev commented on #101
thanks

[2019-09-18 13:49] #101 closed, assigned to nobody

[2019-09-18 22:11] rajmaniar commented on #100
I struggled with this today before I realized the api for NewV4 at the latest semver tag v1.2.0 has one return variable but the head of master branch on the repo has two.
https://github.com/satori/go.uuid/blob/v1.2.0/generator.go#L64
vs
https://github.com/satori/go.uuid/blob/master/generator.go#L68

go modules will always try to collect the latest semver tag by default so you need to do something

[2019-09-24 04:20] 3013216027 commented on #100
Same to me, the default behavior of go mod confuse with the old tag.
I wonder if it's possible to add a new version tag :)

[2019-10-16 21:19] cameracker commented on #100
@chingiz2387  @3013216027  @rajmaniar  this package is obsolete. https://github.com/satori/go.uuid/issues/84

Recommend using https://github.com/gofrs/uuid

[2019-11-05 12:02] 3013216027 commented on #100
@CameronAckermanSEL thks, I've moved to https://github.com/google/uuid instead

[2019-11-05 16:14] JoeReid opened #102 "Readme Coverage and GoDoc coverage report different values"
The readme claims `With 100% test coverage and benchmarks out of box.`
However the coveralls report (seen in the readme badge) seems to suggest that it is 31%

[this build](https://coveralls.io/builds/21830617) seems to be to blame.

As it is a single build, I think this may be an artificial coverage decrease, but I am not sure

[2019-11-07 02:54] ghost opened #103 "PSA: This repo is dead"
https://github.com/satori/go.uuid/issues/84

[2019-11-07 02:54] ghost commented on #102
@JoeReid I'd recommend that you give this issue a read and then use gofrs/uuid instead.
https://github.com/satori/go.uuid/issues/84

[2019-11-12 04:06] bheemreddy181-zz commented on #70
go get github.com/satori/go.uuid@master will work

[2019-11-12 20:07] griffincox commented on #70
Thanks Bheem @bheemreddy181

[2020-03-05 16:59] barry-en opened #106 "assignment mismatch: 2 variables but uuid.NewV4 returns 1 values"
I use go mod
go mod init
root@efd4d3d775f2:/home/workspace/src/test# cat go.mod
module test

go 1.13

require (
        github.com/dgrijalva/jwt-go v3.2.0+incompatible
        github.com/gin-gonic/gin v1.5.0
        github.com/go-sql-driver/mysql v1.5.0
        github.com/go-xorm/xorm v0.7.9
        github.com/golang/protobuf v1.3.4
        github.com/gomodule/redigo v2.0.0+incompatible
        gi

[2020-03-05 17:00] barry-en commented on #106
import(
    uuid "github.com/satori/go.uuid
)

[2020-03-24 07:10] overstep123 opened #107 "release version problem"
when i use go mod,
![image](https://user-images.githubusercontent.com/41141842/77398001-a0bc8500-6de1-11ea-9327-530c827a703e.png)

[2020-03-24 07:11] overstep123 commented on #107
then ,
![image](https://user-images.githubusercontent.com/41141842/77398058-b631af00-6de1-11ea-9eaf-c8f54f0564f2.png)

[2020-03-24 07:17] overstep123 commented on #107
the master is version v1.2.1,but the latest release is version v1.2.0. much more,the two version have different interface :Generator(different count of return value of its function)

[2020-03-30 13:37] Wyatex commented on #106
同样遇到这个问题，是不是这个项目已经被弃坑了

[2020-04-06 03:53] AIDeepx commented on #106
不用管IDE的报错提示，直接返回一个值就可以了

[2020-04-08 05:29] flyonme commented on #107
+1

I was enforced to fork this repo due to this issue.

[2020-04-09 01:11] pjebs commented on #106
I got the same issue after switch to GOMODULES. It was working in GOPATH mode. godoc also says `NewV4` returns 2 values.

[2020-04-09 01:15] pjebs commented on #106
Under GOMODULES mode, it uses the tag 1.2.0 instead of master which is the latest version.

Just do this: `GO111MODULE=on go get -u github.com/satori/go.uuid@master`

That will add this to go.mod file:

	`github.com/satori/go.uuid v1.2.1-0.20181028125025-b2ce2384e17b`

[2020-04-09 03:46] alienyan commented on #106
I've got it，thank you

[2020-04-22 21:07] #88 closed, assigned to nobody

[2020-04-22 21:19] ghost commented on #107
@isoloviev , @overstep123 when picking up a 3rd party library, an important step is to go look over the backlog of the repo and to figure out whether the package is live.

This package is basically dead, you should not use it. https://github.com/satori/go.uuid/issues/103

[2020-04-22 21:20] ghost commented on #106
@pjebs  @aidy-automan  @6qiongtao its important to audit a 3rd party library carefully when including it in your software. https://github.com/satori/go.uuid/issues/103 This repo has been dead for a long time, you should really use a different one.

[2020-05-08 10:14] mailtokun commented on #107
here is a workaround . change the version to below in go.mod file.
[code]

[2020-05-08 14:52] ghost commented on #107
@mailtokun  a better work around is to use a maintained library for uuids. `gofrs/uuid` is a fork of this that fixed the original defects the library has and it has dedicated maintenance.

[2020-05-30 20:26] tamasd commented on #79
Any update on this issue?

[2020-07-11 08:46] ShrawanLakhe commented on #70
Thanks @bheemreddy181

[2020-08-29 03:26] yhaoyan opened #111 "incompatible code between HEAD of master and tag v1.2.0"
Dear developer,

I see that some code IS NOT incompatible in _generator.go_

The code from tab v1.2.0
[https://github.com/satori/go.uuid/blob/f58768cc1a7a7e77a3bd49e98cdd21419399b6a3/generator.go](https://github.com/satori/go.uuid/blob/f58768cc1a7a7e77a3bd49e98cdd21419399b6a3/generator.go)
![v1.2.0#](https://user-images.githubusercontent.com/8141873/91627333-486d5d00-e9e9-11ea-8e1d-201f045e2dc4.pn

[2020-09-12 00:08] cameracker commented on #111
@yhaoyan https://github.com/satori/go.uuid/issues/103

[2020-09-17 07:30] mengdodo commented on #70
Thanks @bheemreddy181

[2020-09-24 15:02] mandaputtra commented on #79
How to solve this issue for now? I have seen this erros

[code]

Happen even with `uuid.NullUUID`

[2020-10-01 13:33] mandaputtra commented on #79
I solve it using pointer so it could be a `nil`

[2020-10-20 16:50] ghost commented on #70
Thanks @bheemreddy181

[2020-10-27 11:33] #70 closed

[2020-12-19 11:43] LBiff commented on #70
Thanks, good job!! But why it can be work?
---------------------------------------------------------------------------------------
“github.com/koding/kite” ==> this project also refers to the "master"  with dep:

[[constraint]]
  branch = "master"
  name = "github.com/satori/go.uuid"
-------------------------------------------------------------------------------------
But that does not work with t

[2021-03-31 20:02] mollylogue opened #113 "Need new release/tag for vulnerability fix"
There is a vulnerability in version 1.2.0: https://snyk.io/vuln/SNYK-GOLANG-GITHUBCOMSATORIGOUUID-72488

Apparently this has been fixed in the most recent version of master. Would you be willing to cut a new tag/release for projects to use w/ this dependency? Thanks.

[2021-04-23 10:15] Ph03n1xRt opened #114 "Why did I get this mistake?"
![image](https://user-images.githubusercontent.com/25096779/115857083-d823b800-a45f-11eb-92d0-200cc98c055e.png)
![image](https://user-images.githubusercontent.com/25096779/115857107-dd810280-a45f-11eb-9277-0ff35a708d01.png)

[2021-04-29 01:01] ghost commented on #113
The maintainer has let an issue claiming his repo is dead sit on the backlog for two years. I wouldnt hold my breath that he'll come back to put out a release. https://github.com/satori/go.uuid/issues/103

[2021-04-29 01:02] ghost commented on #114
https://github.com/satori/go.uuid/issues/103

[2021-05-04 16:32] p-rog commented on #73
This bug is a serious security issue, definitely a CVE should be assigned to this vulnerability.
Everyone should be aware about this vulnerability.
Additionally it would be good to release new version, because the last 1.2.0 is before the g.rand.Read function introduction.

@satori - can you request a CVE ID for this issue and release new version to make it visible that problem has been addressed?

[2021-05-04 16:35] theckman commented on #73
@p-rog I've been trying to contact @satori for years with no success. Please see https://github.com/satori/go.uuid/issues/103 and https://github.com/satori/go.uuid/issues/84.

[2021-05-04 16:51] cameracker commented on #73
@p-rog The sad thing is given the amount of time this issue has existed, anybody using this repo is creating a self-inflicted problem. I fully realize that this is largely on @satori  for not doing the bare minimum to tag the release, but there are multiple issues about this on the backlog and I've been personally going in and responding periodically to PRs and new issues telling people to stop us

[2021-05-04 16:56] monkeydioude commented on #73
Migrating to [this currently maintened fork](https://github.com/gofrs/uuid) would be a fair option.

[2021-05-04 17:05] p-rog commented on #73
@theckman @CameronAckermanSEL I fully agree with your comments.

That's why I think assigning an official CVE could be a good option to make more people aware that this repo shouldn't be use anymore and instead of this everyone should start using github.com/gofrs/uuid.

[2021-05-04 17:10] yamamushi commented on #73
@p-rog You can try reaching @satori through LinkedIn, he is active there. Considering this one has gone ignored for so many years I think that's your best bet for getting in contact.

[2021-05-04 17:41] cameracker commented on #73
@p-rog If you have the ability to file a CVE, that sounds great. Synk already has a[ "CVE" on their system](https://snyk.io/vuln/SNYK-GOLANG-GITHUBCOMSATORIGOUUID-72488) so it's popping up there. If there's any help you need I would be willing to give a hand but I'm guessing you're quite savvy in this area :)

PS. Sorry for the rename timing hope it isnt confusing

[2021-05-05 10:01] p-rog commented on #73
@cameracker no worries, I caught the name change

I've requested new CVE id for this security bug. Once the CVE id will be issued I will post it here.

[2021-05-06 08:28] p-rog commented on #73
The CVE-2021-3538 has been assigned to this issue.

[2021-05-06 16:38] theckman commented on #73
For those who end up here, this fork is maintained and includes the fix to this issue: https://github.com/gofrs/uuid

[2021-05-06 18:04] cameracker opened #115 "IMPORTANT: Unresolved CVE on latest release (CVE-2021-3538 )"
A [CVE ](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-3538)has been filed for a 3 year old defect that is fixed on master but has never been tagged and released. With this defect, periodically the UUID V4s will contain mostly 0's.

https://github.com/gofrs/uuid is a maintained fork that addresses this problem and is actively maintained.

https://github.com/satori/go.uuid/issues/73

[2021-05-07 03:41] vaiojarsad commented on #73
Am I missing something or tag 1.2 seem to be ok?

[2021-05-07 04:31] theckman commented on #73
@vaiojarsad the commit where the issue was fixed is here: https://github.com/satori/go.uuid/commit/75cca531ea763666bc46e531da3b4c3b95f64557 (`April 4, 2018`)

The v1.2.0 tag is here: https://github.com/satori/go.uuid/releases/tag/v1.2.0 (`Jan 10, 2018`) based on commit https://github.com/satori/go.uuid/commit/f58768cc1a7a7e77a3bd49e98cdd21419399b6a3 (`Jan 3, 2018`)

`v1.2.0` is vulnerable to this

[2021-05-07 05:55] vaiojarsad commented on #73
Hi @theckman ! I'd already seen what you are saying but I took a look at  https://github.com/satori/go.uuid/archive/refs/tags/v1.2.0.zip, more specifically at the generator.go file inside the zip, and it seems like the bug hasn't been introduced there.

Kind regards!

[2021-05-07 06:00] vaiojarsad commented on #73
[code]

And rand is crypto/rand here (crypto/rand uses ReadFull)

[2021-05-07 06:34] p-rog commented on #73
@vaiojarsad The issue was introduced by this commit:
https://github.com/satori/go.uuid/commit/0ef6afb2f6cdd6cdaeee3885a95099c63f18fc8c#diff-0d0495ad16c6f603876bbf484c43b549f53d0b33d4cd74c908b0ee95a94369ea
When owner of that repo decided to change the return `(UUID, error)` instead of `UUID`.

That commit was after the 1.2.0 release.
In the 1.2.0 release the g.rand.Read function is not used.

Later

[2021-05-07 07:05] theckman commented on #73
I am mistaken; apologies for the noise.

[2021-05-07 11:18] batara666 commented on #73
alternative: https://play.golang.org/p/flHC1sB2wMo

[2021-08-24 21:51] austinmhyatt commented on #73
What's the fix here? :)
Searching for upgrade option for CVE-2021-3538

[2021-08-24 22:01] rkuris commented on #73
Switch from unmaintained github.com/satori/go.uuid to github.com/gofrs/uuid

[2021-08-24 22:56] austinmhyatt commented on #73
Thanks! @rkuris

[2021-08-25 05:30] batara666 commented on #73
@ah-eng https://github.com/google/uuid use google made

[2021-10-25 04:08] kishaningithub commented on #83
Google also has a UUID package

https://github.com/google/uuid

[2021-10-28 15:17] EvilLord666 opened #117 "Create functions that allows go get empty/default uuid"
Is it possible to have function `uuid.Empty()` or `uuid.Default()` which returns uuid that is equal to 00000000-0000-0000-0000-000000000000?

[2021-11-04 23:40] fox091 commented on #117
@EvilLord666 You should not be using this repo any more.  It has a major vulnerability and is no longer being maintained.  See #103 for a chain of issues and details.

[2021-11-17 17:26] EvilLord666 commented on #117
@fox091 Maybe this repo should be archived?

[2021-11-17 18:14] fox091 commented on #117
@EvilLord666 Yes it should be archived.  Unfortunately the maintainer hasn't been active for over 3 years, so there's nothing we can do.

[2022-01-22 08:13] cleverlzc commented on #84
good issue, it(satori/go.uuid) should be

[2022-02-09 02:45] FlyingOnion opened #118 "It's time to switch to gitee.com/gofrs/uuid"
This gofrs has nothing to do with github.com/gofrs. I just want to urge them to support go module asap.

Package main page: https://pkg.go.dev/gitee.com/gofrs/uuid/v4

For Chinese friends suffering from poor network when connecting to GitHub, it's time.

[2022-02-17 07:12] FlyingOnion commented on #115
The fork `github.com/gofrs/uuid` does not support go module, so I cherry-pick it to my gitee repo `https://gitee.com/gofrs/uuid`. Package main page: https://pkg.go.dev/gitee.com/gofrs/uuid/v4

This organization has nothing to do with gofrs in github. I just want to urge them to support go module asap.

[2022-02-24 17:15] samfullman opened #119 "Can you tag the fix that is in master using ReadFull as 1.2.1?"
https://github.com/satori/go.uuid/issues/73#issuecomment-378573107
the use of ReadFull is now in `master` but has not been tagged.  This is a critical fix for us, can you add a tag as version 1.2.1 (or 1.3).  Thanks.

[2022-03-01 21:57] sarmadali20 opened #120 "CVE-2021-3538"
https://nvd.nist.gov/vuln/detail/CVE-2021-3538

[2022-03-26 16:42] Sina-Ranjbar1 opened #121 "Is it thread-Safe?!"
I want to embed this package in my webserver.
Is it thread-safe?
What happens if several go routines call New() function simultaneously?

[2022-04-21 05:23] fox091 commented on #121
@Sina-Ranjbar1 You should not be using this repo any more. It has a major vulnerability and is no longer being maintained. See https://github.com/satori/go.uuid/issues/103 for a chain of issues and details.

[2022-04-23 00:12] GwynethLlewelyn commented on #120
See also: #73
And alternatives: https://github.com/gofrs/uuid (forked from an earlier version of this package which didn't exhibit the issue)
or even Google's own package: https://github.com/google/uuid